*{
    padding: 0;
    margin: 0;
    transition: all 0.5s;
    text-decoration: none;
    list-style: none;
}
html{
    background: #000;
}
.top{
    width: 100%;
    height: 5px;
    background: #e50505;
}

.navbar{
    width: 100%;
    height: 130px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #000;
}
.navbar .logo{
    width: 290px;
    height: 100px;
    display: flex;
    align-items: center;
    padding-left: 20px;
}

.navbarbox{
    display: flex;
    width: 800px;
    height: 100px;
    justify-content: center;
    align-items: center;
}

.navbarbox .navbar-item{
    display: flex;
    width: 100px;
    height: 50px;
}
.navbar-item a{
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 17px;
}
.navbar-item a:hover{
    color: #e50505;
    border-bottom: 1px solid #e50505;
}
.navbarright{
    display: flex;
    width: 300px;
    height: 100px;
}

.navbarright ul {
    display: flex;
    width: 300px;
    height: 100px;
    align-items: center;
    justify-content: flex-end;
    margin-right: 30px;
}
.navbarright ul li{
    width: 50px;
    height: 50px;
    margin-left: 10px;
}
.navbarright ul li a{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.banner{
    width: 100%;
    height: 610px;
    display: flex;
    box-sizing: border-box;
    background: #000;
    align-items: center;
    justify-content: center;
}
.bannervideo{
    position: relative;
    width: 1702px;
    height: 610px;
}
.bannervideo video{
    width: 100%;
    height: 100%;
    object-fit: fill;
}
.bannervideo .bannermask{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    background: rgba(11, 11, 11, 0.61);
}
.video-text{
    position: absolute;
    bottom: 200px;
    left: 50%;
    font-size: 60px;
    color: rgb(255, 255, 255,0.4);
    transform: translateX(-50%);
}
.bannervideo .video-btn{
    position: absolute;
    bottom: 90px;
    width: 200px;
    height: 50px;
    border: 2px solid rgb(255, 255, 255,0.4);
    text-align: center;
    line-height: 50px;
    color: rgb(255, 255, 255,0.4);
    text-decoration: none;
    left: 50%;
    transform: translateX(-50%);
}
.bannervideo .video-btn:hover{
    border: 2px solid white;
    color: white;
}
.d-block{
    width: auto;
    height: auto;
    max-width: 100%;
    max-height: 100%;
}
.banner2{
    width: 1200px;
    height: 500px;
    margin: 0 auto;
}
.cards-box{
    width: 1200px;
    height: 500px;
    padding: 0;
}
.cards-box .card-item{
    width: 592.5px;
    height: 500px;
    display: inline-block;
    background: #b0acac;
    position: relative;
}
.card-item .btn-outline-secondary{
    position: absolute;
    width: 250px;
    height: 50px;
    bottom: 50px;
    left: 0;
    right: 0;
    margin: auto;
    color: #000;
    background: white;
    border: 2px solid #000;
}
.card-item .btn-outline-secondary:hover{
    background: #000;
    color: #e50505;
    border: 2px solid #e50505;
}
.card-left{
    margin-right: 10px;
}
.card-img{
    width: auto;
    height: auto;
    max-width: 100%;
    max-height: 100%;
}
.featured{
    width: 100%;
    height: 500px;
    /* margin: 30px auto 30px; */
    background: #000;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* border: 1px solid red; */
}
.featured .heading{
    width: 100%;
    height: 100px;
    font-family: 微软雅黑;   
    text-align: center;
    position: relative;
}
.featured-box{
    width: 100%;
    height: 100%;
    display: flex;
    margin:  auto;
}
.heading h2{
    margin: 0;
    width: auto;
    height: 100px;
    color: white;
    line-height: 55px;
}
.heading .products{
    position: absolute;
    width: 100px;
    height: 30px;
    bottom: 15px;
    left: 0;
    right: 0;
    margin: auto;
    font-size: 10px;
    background: #000;
    color: #fff;
    border: 2px solid #fff;
}
.heading .products:hover{
    background: #000;
    color: #e50505;
    border: 2px solid #e50505;
}
.featured .featured-box{
    width: 1200px;
    height: 330px;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-between;
}
.featured-box .featured-item{
    width: 290px;
    height: 100%;
    display: flex;
    background-color: #121212;
    border-bottom: 1px solid #e50505;
    transition: all 0.2s;
}
.featured-box .featured-item:hover{
    border-bottom: 5px solid #e50505;
}
.featured-a{
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
}
/* .featured-a .mask{
    width: 100%;
    height: 100%;
    position: absolute;
    background: rgb(207, 205, 205, 0.3); 
    opacity: 0;
    visibility: hidden;
} */
.featured-a .featured-text{
    width: 100px;
    height: 50px;
    bottom: 35px;
    left: 20px;
    position: absolute;
    margin: 0;
    text-align: center;
    line-height: 50px;
    color: white;font-size: 15px;
    /* overflow: hidden; */
}

.featured-a:hover .featured-text{
    opacity: 1;
    height: 70px;
    font-size: 30px;
    animation-play-state: paused;

}
.featured-a:hover .mask{
    opacity: 1;
    visibility: visible;
    z-index: 10;
}
.segmentation{
    width: 1200px;
    height: 100px;
}
.video-box{
    width: 1200px;
    height: 600px;
    margin: auto;
}
.player{
    width: 1200px;
    height: 600px;
    margin: 0 auto;
    position: relative;
}
.player video{
    /* position: absolute; */
    /* left: 50%; */
    /* transform: translateX(-50%); */
    width: 100%;
    height: 100%;
    object-fit: fill;
}
.player .control{
    /* position: absolute; */
    background-color: rgb(8, 8, 8,0.3);
    width: 1200px;
    bottom: 10px;
    /* transform: translateX(-50%); */
}
.player .control div{
    display: inline-block;
    line-height: 40px;
    margin-left: 10px;
    font-size: 18px;
    color: #000;
}
.prt_imgbox{
    overflow: hidden;
    height: 500px;
}
.prt_img{
    width: 100%;
    height: 0px;
    padding-top: 100%;
    position: relative;
}
.prt_img img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100;
}
.about{
    width: 100%;
    height: 400px;
    background: #000;
    border-top: 3px solid white;
    padding-top: 50px;
}
.about_box{
    width: 1400px;
    height: 260px;
    /* background: white; */
    margin: auto;
    display: flex;
    justify-content: space-between;
    border-bottom: 2px solid white;
}
.about-ul{
    display: flex;
    width: 460px;
    height: 100%;
    padding-top: 15px;
    /* border: 1px solid red; */
}
.about-logo{
    width: 200px;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 30px;
}
.about-logo-text{
    color: white;
}
.about-loin{
    margin-top: 10px;
    width: 200px;
    height: 50px;
    display: flex;
}
.about-loin a{
    text-decoration: none;
    color: white;
    display: flex;
    width: 100%;
    height: 100%;
    border: 1px solid white;
    justify-content: center;
    align-items: center;
}
.about-loin a:hover{
    color: #e50505;
    border: 1px solid #e50505;
}
.about-hp-at{
    display: flex;
    width: 200px;
    height: 30px;
    align-items: center;
    margin-top: 10px;
}
.about-bar{
    font-size: 20px;
    color: white;
    text-decoration: none;
}
.about-hp-at a{
    text-decoration: none;
    color: white;
    font-size: 13px;
    letter-spacing: 2px;
}
.about-hp-at a:hover{
    color: #e50505;
    border-bottom: 1px solid #e50505;
}
.end{
    display: flex;
    width: 1300px;
    height: 50px;
    margin: auto;
    padding: 10px;
    position: relative;
}
.end span{
    width: 80px;
    height: 20px;
    color: white;
    font-size: 13px;
    display: flex;
    align-items: center;
    margin-top: 10px;
}
.end .endtext{
    position: absolute;
    height: 50px;
    right: 0;
    padding: 10px;
    display: flex;
}
.endtext a{
    color: white;
    text-decoration: none;
    width: 50px;
    height: 20px;
    font-size: 13px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.endtext a:hover{
    color: #e50505;
}
.endtext div{
    width: 1px;
    height: 20px;
    background: white;
    margin: 0 10px;
}
.endtext p{
    width: 170px;
    height: 20px;
    color: white;
    display: flex;
    align-items: center;
    font-size: 13px;
}
.about_top{
    width: 100px;
    height: 140px;
    text-align: center;
    margin-top: 30px;
}
.about_top img{
    width: 100px;
    height: 100px;
    color: white;
}
.about_top p{
    width: 100px;
    height: 10px;
    border-top: 1px solid white;
    display: flex;
    justify-content: center;
    padding-top: 3px;
    margin: 5px 0 0;

}
.about_top p a{
    text-decoration: none;
    color: #fff;
}
.ahover{
    opacity: 0;
}
.about_top:hover .ahover{
    opacity: 1;
}

