.barnav-menu{
    width: 10%;
    margin-right: 20px;
    /* border: 1px solid red; */
}
.barnav-menu .menu_btn{
    background: none;
    border: none;
}
@media screen and (max-width: 768px){
    .barnav-menu{
        display: block;
    }
    .top{
        width: 100%;
    }
    .navbar .logo{
        width: 10%;
    }
    .navbarbox{
        display: none;
    }
    .navbarright{
        display: none;
    }
    .banner{
        width: 100%;
        height: 300px;
    }
    .bannervideo{
        width: 100%;
        height: 100%;
    }
    .video-text{
        font-size: 1.55rem;
        top: 50%;
        width: 300px;
    }
    .bannervideo .video-btn{
        bottom: 10%;
    }
    .banner2{
        display: none;
    }
    .cards-box{
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    .cards-box .card-item{
        display: flex;
    }
    .card-img{
        width: 100%;
        height: auto;
    }
    .segmentation{
        display: none;
    }
    .featured{
        width: 100%;
        height: 500px;
        justify-content: flex-start;
    }
    .heading{
        width: 100%;
    }
    .featured .featured-box{
        width: 100%;
        align-self: start;
        flex-direction: column;
    }
    .featured-box .featured-item{
        display: flex;
        width: 100%;
        height: 100px;
    }
    .featured-a{
        display: flex;
        width: 100%;
        height: 100%;
    }

    .video-box{
        margin-top: 20px;
        height: 250px;
    }
    .video-box .content{
        height: 100%;
    }
    .video-box .player{
        width: 100%;
        height: 100%;
    }
    .about_box{
        width: 100%;
        height: 620px;
        flex-direction: column;
    }
    .about-ul{
        width: 100%;
    }
    .abouttext-logo{
        width: 100%;
        display: flex;
        flex-direction: row;
    }
    .about-logo{
        width: 180px;
        height: 90px;
        margin: 10px 0 0;
        padding-right: 10px;
    }
    .imgleft{
        margin-left: 10px;
    }
    .about-loin{
        width: 150px;
        height: 90px;
        margin-left: 40px;
    }
    .about-help{
        padding-bottom: 20px;
        justify-content: center;
        /* border-bottom: 2px solid white; */
    }
    .about-help-box{
        width: 300px;
    }
    .help-bar{
        font-size: 2rem;
        text-align: center;
        padding-bottom: 5px;
        border-bottom: 1px solid #e50505;
    }
    .about-hp-at{
        width: 100%;
    }
    .about-hp-at a{
        width: 100%;
        text-align: center;
        font-size: 1.1rem;
    }
    .about_top{
        display: none;
    }
    .about-ab{
        justify-content: center
    }
    .about-ab-box{
        width: 300px;
    }
    .at-column{
        width: 100%;
        height: 30px;
        align-items: center;
        flex-direction: row;
        justify-content: center;
        margin: 0 !important;
    }
    .about-menu-text{
        font-size: 2rem;
        text-align: center;
        margin-bottom: 12px;
        padding-bottom: 5px;
        border-bottom: 1px solid #e50505;
    }
    .dividing-about{
        display: block;
    }
    .at-column a{
        margin: 0 !important;
        font-size: 0.9rem;
    }
    .end{
        height: 150px;
        padding: 0;
        flex-direction: column;
    }
    .end span{
        width: 100%;
        align-items: center;
        justify-content: center;
        margin: 10px 0 0 !important;
    }
    .end .endtext{
        width: 100%;       
        padding: 0;
        flex-direction: column;
        justify-content: center;
    }
    .endtext .dividing{
        display: none;
    }
    .endtext a{
        justify-content: center;
    }
    .endtext p{
        margin-top: 5px;
        justify-content: center;
    }
}
@media screen and (max-width: 1024px) {
    .featured-box{
        width: 1200px;
    }
}