body{
    margin: 0;
    height: 100vh;
    background-color: #fff;
}
*{
    border: 1px solid red;
}
@media (max-width: 600px){
    .cbl{
        display: none;
    }
}
.flex{
    display: flex;
}
.white{
    background-color: white;
}
.flex1{
    flex: 1;
}
.column{
    flex-direction: column;
}
.mg8{
    margin: 8px;
}
.center{
    justify-content: space-around;
}
.fk{
    justify-content: space-between;
}
.anhyc{
    width: 400px;
    height: 250px;
}
.anhycnr{
    height: 150px;
    padding: 24px 24px 16px;
    border-top-left-radius: 1em;
    border-top-right-radius: 1em;
    border: 1px solid #999;
} 
.an{
    border-bottom-left-radius: 1em;
    border-bottom-right-radius: 1em;
    padding: 15px 24px 16px;
    border: 1px solid #999;
}
