body{
    margin: 0;
    height: 100vh;
    background-color: #fff;
}
*{
    /* border: 1px solid red; */
    text-decoration: none;

}
.yc::-webkit-scrollbar{
    display: none;
}
.yy{
    box-shadow: 5px 5px 15px #eee;
}
@media (max-width: 600px) {
    .mainner {
    display: none;
    }
    }    
.flex{
    display: flex;
}
.white{
    background-color: white;
}
.flex1{
    flex: 1;
}
.column{
    flex-direction: column;
}
.mg8{
    margin: 8px;
}
.mgr{
    margin-right: 10px;
}
.mgr2{
    margin-right: 15px;
}
.font{
    font-size: 10px;
}
.mgl{
    margin-left: 26px;
}
.center{
    justify-content: space-around;
}
.fk{
    justify-content: space-between;
}
/* .anhyc{
    width: 400px;
    height: 390px;
} */
.anhycnr{
    height: 330px;
    padding: 0px 24px 16px;
    border-top-left-radius: 1em;
    border-top-right-radius: 1em;
    border: 1px solid #999;
} 
.an{
    border-bottom-left-radius: 1em;
    border-bottom-right-radius: 1em;
    padding: 15px 24px 16px;
    border: 1px solid #999;
    border-top: none;
}
.bk1{
    border: 1px solid #999;
    border-top-left-radius: 1em;
    border-top-right-radius:1em;
}
.bk2{
    border: 1px solid #999;
    border-top: none;
    border-bottom-left-radius: 1em;
    border-bottom-right-radius: 1em;
}
.bk3{
    border: 1px solid #999;
    border-radius: 1em;
}
.bk4{
    border-bottom: 1px solid #999;
}
.nbj{
    padding: 10px 10px 10px 10px;
}
.bk5{
    border-top-right-radius: 2em;
    border-bottom-right-radius: 2em;
}
.bk6{
    border-radius: 0.5em;
}
.bk7{
    border-left: none;
}
.bk8{
    border-bottom-left-radius: 1em;
    border-bottom-right-radius: 1em;
}
.bk9{
    border-radius: 2em;
}
.bk10{
    border-radius: 10em;
    border-top-left-radius: 1em;
    border-top-right-radius: 1em;
}
.blue{
    color: #1a73ec;
}
.black{
    color: black;
}
.cp:hover{
    background-color: rgb(239, 240, 241)
}
.cp1:hover{
    background-color: #eee;
}
.qdbj{
    background: none;
}
.cc{
    transition: all 0.5s;
}
.xs{
    display: none;
    transition: all 0.5s;
}

.cc:hover .xs{
    display: block;

}
.bk12{
    border-bottom: #999 1px solid;
}
.bk13{
    border: 1px solid rgb(223, 212, 212);
}
.bk14{
    border-top-left-radius: 1em;
    border-top-right-radius: 1em;
}
.mgl3{
    margin-left: 20px;   
}
.bk15{
    border-left: 1px solid rgb(223, 212, 212);
    border-right: 1px solid rgb(223, 212, 212);
}