body{
    margin: 0;
    height: 100vh;
    background-color: #fff;
}
*{
    /* border: 1px solid red; */
}
.flex{
    display: flex;
}
.side{
    width: 200px;
}
.avatar{
    padding: 10px 0 0 10px;
    align-items: center;
    justify-content: center;
    /* border-bottom: 1px solid #999; */
}
.navigation{
    padding: 10px 20px;
    margin: 5px 0 0;
    border-top-right-radius: 2em;
    border-bottom-right-radius: 2em;
    transition: all 0.5s;
    
}
.navigation:hover{
    background-color: rgb(201, 201, 201);
}
.bottom{
    /* display: flex; */
    align-items: flex-end;
    justify-content: bottom;
    
}