*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    list-style: none;
    transition: 0.3s;
}
body::-webkit-scrollbar{
    display: none;
}
.head{
    position: fixed;
    z-index: 1;
    display: flex;
    width: 100%;
    height: 8vh;
    background-color: #fff;
    box-shadow: .0625rem .0625rem .625rem #23232e;
    margin-bottom: 1.25rem;
}
.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 81.25rem;
    height: 8vh;
    margin: 0 auto;
}
.logo{
    font-size: 1.5rem;
    text-transform: uppercase;
    letter-spacing: .25rem;
}
.logo a{
    color: #23232e;
    text-decoration: none;
    transition: 0.3s;
}
.logo a:hover{
    opacity: 0.7;
}
.topul{

    display: flex;
    list-style: none;
}
.topul li{
    letter-spacing: .125rem;
    margin-left: 2rem;
    font-size: 1.0625rem;
}
.topul li a{
    text-decoration: none;
    color: #23232e;
    transition: 0.3s;
}
.topul li a:hover{
    opacity: 0.7;
}
.d1{
    width: 100%;
    height: 8vh;
}
.main{
    margin-top: 1.25rem;
}
.mainnr{
    width: 81.25rem;
    height: 75rem;
    margin: 0 auto;
}
.mainnr::-webkit-scrollbar{
    display: none;
}
.phone{
    display: flex;
    justify-content: space-between;
    margin-bottom: 1.25rem;
}
.win{
    display: flex;
    justify-content: space-between;
}
.zuoqu{
    display: flex;
    width: 39.375rem;
    height: 37.5rem;
    border-radius: .5rem;
    flex-direction: column;
}
.bt{
    padding: .625rem;
    height: 1.875rem;
    border-radius: .5rem .5rem 0 0;
    border: 1px solid  rgb(209, 197, 197);
}
.youqu{
    display: flex;
    width: 39.375rem;
    height: 37.5rem;
    border-radius: 8px;
    flex-direction: column;
}
.lj{
    position: relative;
    display: flex;
    height: 7.5rem;
    padding: .625rem;
    font-size: 1.25rem;
    border-bottom: .0625rem solid rgb(209, 197, 197);
    border-left: .0625rem solid rgb(209, 197, 197);
    border-right: .0625rem solid rgb(209, 197, 197);
}
.lj a{ 
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    text-decoration: none;
    color: #23232e;
}

.lj .xx{
    position: absolute;
    width: 0%;
    height: 100%;
    background: rgba(146, 143, 143, 0.7);
    top: 0;
    left: 0;
    /* transform: translateX(0); */
}
.xx .xxul{
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: space-between;
}
.xxul li{
    display: flex;
    letter-spacing: 3px;
    margin-left: 32px;
    width: 50%;
    align-items: center;
}
.xx .xxul li a{
    color: #fff;
    display: none;
    text-align: center;

    line-height:  6.875rem;
}
.lj:hover .xx{
    width: 100%;
}
.xxul:hover li a{
    display: block;
}
@media(max-width:900px){
    .head{
        width: 100%;
    }
    .navbar{
        width: 25rem;
        align-items: center;
        justify-content: center;
    }
    .navbar .topul{
        display: none;
    }
    .mainnr{
        width: 25rem;
    }
    .phone{
        width: 25rem;
        flex-direction: column;
        align-items: center;   
     }
     .win{
        width: 25rem;
        flex-direction: column;
        align-items: center;
     }
    .zuoqu {
        width: 21.875rem;
        text-align: center;
     }
    .youqu{
        width: 21.875rem;
        text-align: center;
        margin-top: .625rem;
    }
    .lj a{
        justify-content: center;
    }
}